body#tinymce.wp-editor {  
	font-family: Arial,sans-serif;
	font-size: 33px;
	line-height: 1.5em;	
}
body#tinymce.wp-editor .alignleft {
	margin: 0 0.5em 0 0;
}
body#tinymce.wp-editor .alignright {
	margin: 0 0 0 0.5em;
}
body#tinymce.wp-editor .popup_img img {
	width: auto;
}
body#tinymce.wp-editor .popup_img.line_height_1 img {
	height: 1em;
}
body#tinymce.wp-editor .popup_img.line_height_2 img {
	height: 2em;
}
body#tinymce.wp-editor .popup_img.line_height_3 img {
	height: 3em;
}
body#tinymce.wp-editor .popup_img.line_height_4 img {
	height: 3em;
}
body#tinymce.wp-editor .centerwrap {
  display: block;
  text-align:center;
  display: inline-block;
}  
body#tinymce.wp-editor .centerwrap img {
    display: inline-block;
    float: none;
}